<section class="content">
  <div class="box">
    {{top-bar}}

    {{songs-table
      songs= model
      artistListFilter= artistListFilter
      genreListFilter= genreListFilter
    }}
  </div>
</section>
